@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=EB+Garamond:ital@0;1&family=Nanum+Gothic+Coding&family=Poiret+One&display=swap");
/*VARIABLES*/
/*RESET-todas las etiquetas pueden recibir contenido antes o despues*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%;
  /*10px de base al html, y para pasar a em 1em o 24px= 2.4em*/ }

/*GLOBALS*/
body {
  display: grid;
  min-width: 1280px;
  height: 200vh;
  grid-template-columns: 4, 1fr;
  grid-template-rows: 3, 1fr;
  grid-template-areas: "aside header header header" "aside main main main" "aside"; }

.header {
  grid-column: 2/5; }

.aside {
  grid-column: 1/1;
  grid-row: 1/5; }

.main {
  grid-row: 2/4; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.tittle {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center; }
  .tittle h1 {
    font-family: "catamaran", sans-serif; }
  .tittle .tel {
    font-family: "catamaran", sans-serif;
    margin-top: 6rem;
    margin-left: -16.6rem;
    font-size: 1.3em; }

fieldset {
  margin-top: 3rem; }

.date {
  border-color: #c1c9c9;
  padding: .5rem; }

.date__ul li {
  font-family: "catamaran", sans-serif;
  text-align: center; }

.aside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: .2rem;
  margin: 1rem;
  background-color: #c1c9c9; }
  .aside .photo {
    position: inherit; }
    .aside .photo__contact {
      width: 150px;
      height: 180px;
      box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.7), -10px -10px 20px rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      margin-bottom: -11rem; }
  .aside .content {
    max-inline-size: fit-content; }
    .aside .content .intro {
      font-family: "catamaran", sans-serif;
      margin-bottom: 24rem;
      text-align: center;
      position: inherit; }
  .aside .contact {
    display: flex;
    align-items: none;
    flex-wrap: nowrap;
    justify-content: none; }
    .aside .contact .redes {
      font-family: "catamaran", sans-serif; }
    .aside .contact .li__contact {
      margin-left: -2rem;
      margin-bottom: -1rem; }
    .aside .contact .li__contact1 {
      margin-left: -3.5rem;
      margin-bottom: -4.2rem;
      border-radius: 80%; }
    .aside .contact .li__contact2 {
      margin-bottom: -3rem;
      border-radius: 20%; }

main {
  display: flex;
  align-items: none;
  flex-wrap: nowrap;
  justify-content: none;
  margin-left: 1rem;
  margin-bottom: -9rem; }
  main .tec {
    align-content: center; }
  main p {
    font-family: "catamaran", sans-serif;
    font-size: 1em;
    margin-bottom: 1rem; }
  main ::marker {
    color: #c1c9c9; }
  main h2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-family: "catamaran", sans-serif;
    transition: all 1s; }
    main h2:hover {
      padding: 0.2rem;
      background-color: #c1c9c9;
      border-radius: 20px;
      margin: .5rem; }
  main .text {
    margin-left: 4.5rem;
    margin-bottom: 1rem;
    font-family: "catamaran", sans-serif;
    font-size: 1.5em; }
  main ul img {
    margin-left: 9rem; }
  main .experience, main .academic {
    margin: 0 auto;
    font-family: "Poiret One", cursive;
    font-weight: bold; }
